/* 添加 CSS */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body,html{
    font-size: 14px;
    font-family: "Arial";
}
.container{
    width: 480px;
    margin: 0 auto;
    line-height: 24px;
    padding: 12px;
    border: 1px solid #cfcfcf;
    box-shadow: 5px 5px 0 #e6e6e6;
    -moz-box-shadow: 5px 5px 0 #e6e6e6;
    -webkit-box-shadow: 5px 5px 0 #e6e6e6;
}
.content{
    padding: 12px 12px 20px 12px;
    border: 1px solid #cfcfcf;
}
img.animal{
    width: 100%;
    margin-bottom: 20px;
}
.container .factTitle{
    font-style: italic;
}
.container .facts{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.container .facts li{
    height: 25px;
    line-height: 25px;
}
.container .facts li span{
    font-size: 24px;
    font-weight: bold;
    text-transform:capitalize;
}
